/* @import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&family=Bellefair&display=swap"); */

:root {
  /* primary */
  --color-primary: hsl(230, 35%, 7%);
  --color-secondary: hsl(231, 77%, 90%);
  --color-misc: hsl(0, 0%, 59%);
  --color-page-digit: hsl(231, 15%, 26%);

  --color-neutral-black: hsl(0, 0%, 0%);
  --color-neutral-white: hsl(0, 0%, 100%);

  --heading1: 9.375rem;
  --heading2: 6.25rem;
  --heading3: 3.5rem;
  --heading4: 2rem;
  --heading5: 1.75rem;

  --subheading1: 1.75rem;
  --subheading2: 0.875rem;

  --small-text-space: 2.35px;
  --medium-text-space: 2.7px;
  --large-text-space: 4.75px;

  /* focus/hover outline */

  --mobile-focus: 8px;

  --brdr-radius: 16px;
  /* padding */
  --padding-small: 8px;
  --padding-medium: 16px;
  --padding-large: 24px;
  /* margin */
  --margin-small: 8px;
  --margin-medium: 16px;
  --margin-large: 24px;

  /* --color-hsl-black: 0, 0%, 0%; */

  --box-shadow: 0px 0.3px 0.7px rgba(0, 0, 0, 0.02),
    0px 0.7px 1.7px rgba(0, 0, 0, 0.028), 0px 1.4px 3.3px rgba(0, 0, 0, 0.035),
    0px 2.5px 5.8px rgba(0, 0, 0, 0.042), 0px 4.6px 10.9px rgba(0, 0, 0, 0.05),
    0px 11px 26px rgba(0, 0, 0, 0.07);

  --secondary-font: var(--font-family-bellefair);
  --description-font: var(--font-family-barlow);

  --font-family-barlow: "Barlow", sans-serif;
  --font-family-barlow-condensed: "Barlow Condensed", sans-serif;
  --font-family-bellefair: "Bellefair", serif;
}

/* reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  /* color: var(--color-primary); */
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

button {
  border: none;
}

ul[role],
li[role] {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* utilities */

.max-width {
  max-width: 1375px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

[href="#main-content"] {
  position: absolute;
  top: 0;
  left: 100%; /* move off the screen */
}

[href="#main-content"]:focus {
  left: 62px;
}

.skip-link {
  display: none;
  border: 1px solid red;
  padding-block: 16px;
  padding-inline: 32px;
  z-index: 3;
}

#__next {
  height: 100%;
}

@media screen and (min-width: 70rem) {
  .skip-link {
    display: inline-block;
  }
}

.heading1,
.heading2,
.heading3,
.heading4,
.subheading1 {
  font-family: var(--font-family-barlow);
}

.heading5,
.subheading2 {
  font-family: var(--font-family-barlow);
}

[id="app-wrapper"] {
  height: 100%;
}

body {
  /* body text is barlow */
  font-family: var(--font-family-barlow-condensed);
  color: var(--color-neutral-white);
  background-color: var(--color-neutral-white);
}

button {
  cursor: pointer;
}

/* if we want to use className="bg-img" on our components we will declare it here in globals.css */
/* similar how we declare our styles in our react projects using declarations in our styles.css file in src dir */

/* .bg-img {
  color: blue;
  background-image: url("../starter-code/assets/technology/background-technology-mobile.jpg");
} */
/* 
[data-current="true"] {
  color: red;
} */

/* individual sections */

/* header */

/* mobile nav */

/* desktop nav */

/* general nav */
